.header {
    background-color: teal;
    height: 80px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}