.appointment-container {
    padding: 5px 7px;
    border-radius: 10px;
    border: 1px solid teal;
    display: block;
    margin: 10px;
}

.app-data {
    color: teal;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 5px;
}

.app-button {
    border: none;
    padding: 6px 10px;
    background-color: teal;
    color: white;
    border-radius: 6px;
    margin: 10px 5px;
    cursor: pointer;
}