.schedule-title {
    font-size: 1.5rem;
    padding: 10px 0;
    font-weight: bold;
}

.appointment-button {
    border: none;
    padding: 6px 10px;
    background-color: teal;
    color: white;
    border-radius: 6px;
    margin: 10px 0 0 0;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.26);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.26);
}